/* Extra small devices (phones, 599px and down) */
@media only screen and (max-width: 599px) {
  .mobile-block {
    display: block;
  }
}

/* Medium devices ( tablets, 600px and 1023px) */
@media only screen and (min-width: 600px) and (max-width: 1023px) {
  .table-pagination {
    display: flex;
    justify-content: space-between;
  }
}

/* Extra large devices (large laptops and desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {
  .table-pagination {
    display: flex;
    justify-content: space-between;
  }
}
