.table > tbody > tr:hover {
  background-color: #fafafa;
}

.status {
  border: none;
  font-size: 11px;
  letter-spacing: 0.5px;
  padding: 0 12px;
  color: #6d7986;
}

.status-completed,
.status-final_merchant_unavaliable {
  background-color: #e5f1ff;
  color: #3481d6;
}

.status-ready_delivery {
  background-color: #2fc26e33;
  color: #5fae50;
}

.status-canceled,
.status-part_return,
.status-return {
  background-color: #ef31241a;
  color: #ff5c5cf2;
}

.transactions__title {
  margin-bottom: 22px;
}

.transactions__filter-form {
  margin-top: 32px;
  margin-bottom: 40px;
}

.transactions__filter-footer {
  margin-top: 27px;
}

.table-export {
  margin-bottom: 20px;
}

@media only screen and (max-width: 599px) {
  .transactions__filter-footer {
    display: flex;
    justify-content: space-between;
  }
}
