.collapsible {
  font-weight: bold;
  width: 100%;
  text-align: left;
  border: none;
  background-color: inherit;
  display: flex;
  align-items: center;
}

.collapsible > svg {
  margin-left: 20px;
}

.collapse {
  background-color: #f3f4f5;
  padding: 24px 16px;
}

.collapse__box-item {
  margin-bottom: 16px;
}

.collapse__box-item .label__inner {
  color: #858f9a;
}
