.collapsible {
  font-weight: bold;
  width: 100%;
  text-align: left;
  border: none;
  background-color: inherit;
  display: flex;
  align-items: center;
}

.collapsible > svg {
  margin-left: 20px;
}

.collapse__box-item {
  margin-bottom: 16px;
}

.collapse__box-item > .collapse__box-value {
  margin-left: 4px;
  color: #858f9a;
}
