.sidebar {
  background-color: #222a32;
  height: 100%;
  min-height: 100vh;
  margin-right: 32px;
}

.sidebar_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
}

.sidebar_item {
  display: block;
  width: 100%;
  padding: 12px 24px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
}

.sidebar_item_active,
.sidebar_item:hover {
  background: #353D44;
}
