@import '~arui-feather/vars.css';

* {
  margin: 0;
  padding: 0;
  font-family: var(--font) !important;
}

body {
  margin: 0 8px;
}

button {
  cursor: pointer;
}

.navbar {
  margin-bottom: 32px;
}

.p-0 {
  padding: 0 !important;
}

.bold_700 {
  font-weight: 700;
}
.bold_600 {
  font-weight: 600;
}

.overflowX {
  overflow-x: auto;
}

.align-center {
  text-align: center;
}

.modal-responsive__header {
  padding-left: 14px;
}

.modal-responsive__footer {
  margin-top: 40px;
}

.table {
  width: 100%;
  color: #6d7986;
  border-collapse: collapse;
}
.table > thead {
  background-color: #ecedef;
  font-size: 13px;
  line-height: 18px;
}
.table > thead > tr > td {
  padding: 4px 8px;
}

.table > tbody > tr {
  font-size: 17px;
  border-bottom: 1px solid rgba(11, 31, 53, 0.08);
}

.table > tbody > tr > td {
  padding-top: 18px;
  padding-bottom: 13px;
}

.icon-button {
  color: #fff;
}

.icon-button.bg-green {
  background-color: #d5f3e2;
}

.icon-button.bg-blue {
  background-color: #e5f1ff;
}

.icon-button.bg-red {
  background-color: #feebea;
}
