@import '~arui-feather/vars.css';

* {
  margin: 0;
  padding: 0;
  font-family: var(--font) !important;
}

body {
  margin: 0 8px;
}

button {
  cursor: pointer;
}

.navbar {
  margin-bottom: 32px;
}

.p-0 {
  padding: 0 !important;
}

.mb-20 {
  margin-bottom: 20px;
}

.bold_700 {
  font-weight: 700;
}
.bold_600 {
  font-weight: 600;
}
.bold_300 {
  font-weight: 300;
}

.overflowX {
  overflow-x: auto;
}

.align-center {
  text-align: center;
}

.modal-responsive__header {
  padding-left: 14px;
}

.modal-responsive__footer {
  margin-top: 40px;
}

.title-1 {
  font-size: 30px;
  line-height: 36px;
  color: #172a3f;
}
.title-2 {
  font-size: 22px;
  line-height: 26px;
  color: #172a3f;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-menu {
  margin-top: 40px;
  margin-bottom: 26px;
  padding: 0 30px;
}
.top-menu > div {
  padding: 0 !important;
  margin-bottom: 4px;
}

.icon-button {
  color: #fff;
}

.icon-button.bg-green {
  background-color: #d5f3e2;
  border: 1px solid #d5f3e2;
}

.icon-button.bg-blue {
  background-color: #e5f1ff;
  border: 1px solid #e5f1ff;
}

.icon-button.bg-red {
  background-color: #feebea;
  border: 1px solid #feebea;
}

.icon-button:hover {
  background-color: #fff;
}

.absolute-center {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(0, -50%);
}

.form-field{
 
}